body, p, h1, h2, h3, ul, li{
  margin: 0; 
  padding: 0;
}

li{
  list-style: none;
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #252525;
}

*{
  box-sizing: border-box;
}

/* MENU */

.header-info{
  font-size: 0.875em;
  background: #d6d3c8;
  text-align: center;
  padding: 5px 0;
}

.header-logo{
  outline: none;
}

.header-logo img{
  display: block;
  margin: 0 auto;
  padding: 40px 0;
}

.header-nav{
  border-top: 3px solid #d6d3c8;
  border-bottom: 3px solid #d6d3c8;
  margin-bottom: 40px;
  padding: 25px 0;
  text-align: center;
}

.header-nav ul li{
  display: inline-block;
}

.header-nav ul li{
  list-style: circle;
}

.header-nav ul li a{
  display: block;
  font-size: 1.125em;
  margin-left: 5px;
  padding: 5px 10px 5px 0px;
  text-decoration: none;
  color: #252525;
}

.header-nav ul li a::before{
  content: '•';
  padding-right: 15px;
}

.header-nav ul li:first-child a::before{
  content: '';
}

/* CONTEUDO */

.container{
  max-width: 960px;
  margin: 0 auto;
}

/* FILTRO */

.filtro{
  float: left;
  width: 300px;
  background:#E7E4D8;
  border: 3px solid #d6d3c8;
  margin: 0 10px;
  padding: 20px;
}

.filtro h2{
  font-size: 1.125em;
  padding: 5px 0;
}

.filtro ul{
  border-top: 3px solid #c0bed4;
  border-bottom: 3px solid #c0bed4;
  padding: 10px 0;
}

.filtro ul li{
  font-size: 1.125em;
  font-style: italic;
  line-height: 1.5em;
}

.filtro ul li::after{
  content: '';
  float: right;
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid #c0bed4;
  margin-top: 5px;
}

.sabor{
  overflow: hidden;
}

.sabor span{
  display: inline-block;
  text-indent: -100px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  vertical-align: middle;
  background-color: currentColor;
}

.sabor-3{
  color: #492901;
  box-shadow: 20px 0 0 0, 40px 0 0 0;
}

.sabor-4{
  color: #c17139;
  box-shadow: 20px 0 0 0, 
              40px 0 0 0,  
              60px 0 0 0;
}

.sabor-5{
  color: #d7a54d;
  box-shadow: 20px 0 0 0, 
              40px 0 0 0,  
              60px 0 0 0,  
              80px 0 0 0;
}