body, p, h1, h2, h3, ul, li{
  padding: 0px;
  margin: 0px;
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #252525;
  background-color: #e7e4d8;
}

li{
  list-style: none;
}

img{
  display: block;
  max-width: 100%;
}

*{
  box-sizing: border-box;
}

/* HEADER */

.header{
  background-color: #d6d3c8;
  padding: 20px 0;
}

.header::after, .header::before{
  content: '';
  display: table;
  clear: both;
}

.header-logo{
  float: left;
  margin-left: 10px;
}

.header-nav ul{
  float: right;
}

.header-nav ul li{
  display: inline-block;
}

.header-nav ul li a{
  color: #252525;
  text-decoration: none;
  font-size: 1.125em;
  padding: 10px;
  cursor: pointer;
}

.header-nav ul li:first-child a{
  padding-left: 0px;
}

/* CONTEUDO MAIN */

.main-container::after, .main-container::before{
  content: '';
  display: table;
  clear: both;
}


.side-nav{
  width: 300px;
  background-color: #252525;
  float: left;
}

.side-nav ul li a{
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 1.125em;
  padding: 20px;
  border-bottom: 3px solid  #484846;
}

.side-nav ul li a::before{
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../../img-3/icones.png');
  position: relative;
  top: 5px;
  right: 10px;
}

.nav-contabilidade::before{
  background-position: 0 0;
}

.nav-produtos::before{
  background-position: 0 -24px;
}

.nav-paginas::before{
  background-position: 0 -48px;
}

.nav-plugins::before{
  background-position: 0 -72px;
}

.nav-formularios::before{
  background-position: 0 -96px;
}

.nav-hospedagem::before{
  background-position: 0 -120px;
}

/* PRODUTOS */

.produtos{
  float: left;
  width: calc(100% - 300px);
  max-width: 960px;
  padding: 20px;
}

.produtos header::after, .produtos header::before{
  content: '';
  display: table;
  clear: both;
}

.produtos h1{
  font-size: 2.25em;
  float: left;
}

.add-produtos{
  float: right;
  color: #fff;
  text-decoration: none;
  font-size: 1.125em;
  font-family: Courier, monospace;
  text-align: center;
  background: #c17139;
  padding: 15px 25px;
  border-radius: 5px;
}

.produtos-item::after, .produtos-item::before{
  content: '';
  display: table;
  clear: both;
}

.produtos-item{
  position: relative;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .35);
  margin-top: 25px;
}

.produtos-item img{
  float: left;
}

.produtos-item a{
  width: 24px;
  height: 24px;
  text-indent: -200px;
  overflow: hidden;
  background: url('../../img-3/edit.svg') no-repeat;
  position: absolute;
  top: 10px;
  right: 15px;
}

.produtos-item a:hover{
  background: url('../../img-3/edit-hover.svg') no-repeat;
}

.produtos-item ul{
  float: left;
  padding: 0 20px;
  width: calc(100% - 140px);
  max-width: 500px;
}

.produtos-item ul li{
  border-bottom: 2px solid #e7e4d8;
  padding: 15px 0;
  font-family: Courier, monospace;
  font-size: 1.125em;
}

.produtos-item ul li:last-child{
  border: none;
}

.produtos-item ul li span{
  display: inline-block;
  font-weight: bold;
  width: 70px;
}


